#content {
	width: 1000px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	
	padding: 10px 5px 20px;
	
	min-height: 500px;
}
body {
	background : rgb(50,90,50) ;	
}


.premierinterlocuteur {
	text-align : center ;
	color : yellow ;
	font-family : Courrier, monospace ;
	font-style : italic ;
}

.secondinterlocuteur {
	text-align : center ; 
	color : aqua ;
	font-family : "Arial Black", monospace ;
	font-weight : bold ;
}

.titre {
	text-align : center ;
	color : rgb(255,120,0) ;
	font-family : Courier, monospace ;
	padding: 0 25%;
}	
