@charset "utf-8" ;

.page-chat #login
{
	display : none ;
}

.page-chat body 
{
	font-family : Arial, Helvetica, sans-serif ;
	box-sizing : border-box ;
}

.page-chat #container
{
	position : relative ;
	height : 100% ;
	background-color : black ;
}

.page-chat #footer
{
	padding-bottom : 1em ;
	padding-right : 1em ;
	padding-left : 1em ;
	font-size : 1vmin ;
}

.page-chat #headband
{
	position : relative ;
	height : 20% ;
	width : 100% ;
	background-color : black ;
	background-image : url( "../img/bw-banner.jpg" ) ;
	background-repeat : no-repeat ;
	background-position : left ;
	background-size : auto 100% ;
	display : flex ;
	flex-direction : row ;
}

.page-chat #agora
{
	height : 100% ;
	flex : 1 ;
}

.page-chat #quoteBlock
{
	position : relative ;
	height : 100% ;
	color : white ;
	flex : 2 ;
}

.page-chat #quote
{
	font-family : vinerHandItc ;
	font-size: 130% ;
}

.page-chat #author
{
	padding-left : 2em ;
}

.page-chat .messages
{
	position : relative ;
	
	color : white ;
	background-color : black ;
	overflow-y : scroll ;
	border-color : white ;
	border-style : solid ;
	border-width : 1px ;
	
	box-sizing : border-box ;
	flex : 1 ;
}

.page-chat .messages p
{
	margin : 0 ;
}

.page-chat .messages .title
{
	margin : 0 0.5em 1em ;
	padding : 0.5em 0.25em ;
	color : #ddd ;
	font-style : italic ;
	border-bottom : 1px solid #ddd ;
}

.page-chat .messages .speaker
{
	text-align : center ;
}

.page-chat .messages .message *
{
	display : inline ;
}

.page-chat .messages .message time
{
	display : inline-block ;
	font-size : smaller ;
	margin : 0 0.5em 0 0 ;
}

.page-chat .wysiwyg
{
	position : relative ;	
	
	color : white ;
	background-color : black ;
	border-color : white ;
	border-style : solid ;
	border-width : 1px ;
	
	box-sizing : border-box ;
	
}

.page-chat #notices
{
	position : relative ;
	float : left ;
	width : 15% ;
	height : 100% ;
	color : white ;
	background-color : black ;
	overflow-y : scroll ;
	border-color : white ;
	border-style : solid ;
	border-width : 1px ;
	box-sizing : border-box ;
}
	
.page-chat #channels-list
{
	position : relative ;
	float : left ;
	width : 10% ;
	height : 100% ;
	color : white ;
	background-color : black ;
	border-color : white ;
	border-style : solid ;
	border-width : 1px ;
	box-sizing : border-box ;
	
	display : flex ;
	flex-direction : column-reverse ;
}

.page-chat .presents
{
	position : relative ;
	padding : 0;
	margin : 0 ;
	list-style-type : none ;
	width : 10% ;
	height : 100% ;
	color : white ;
	background-color : black ;
	border-color : white ;
	border-style : solid ;
	border-width : 1px ;
	box-sizing : border-box ;
}

.page-chat .presents li
{
	padding : 0.25em 0.5em ;
}

.page-chat #container2
{
	height : 75% ;
	width : 100% ;
	display : flex ;
}

.page-chat #chat
{
	position : relative ;
	display : inline-block ; 
	height : 100% ;
	flex : 1 ;
	display : flex ;
}

.page-chat #channels
{
	display : inline-block ;
	height : 100% ;
	flex : 1 ;
}

.page-chat .channel
{
	display : none ;
	height : 100% ;
	width : 100% ;
}

.page-chat #channels-list-actives,
.page-chat .presents
{
	overflow-y : auto ;
}

.page-chat #channels-list-actives,
.page-chat #channels-list-inactives
{
	list-style-type : none ;
	margin : 0 ;
	padding : 0 ;
}

.page-chat #channels-list-actives li,
.page-chat #channels-list-inactives li
{
	cursor: pointer ;
	border-bottom : 1px solid #555 ;
	padding : 0.1em 0.2em ;
}

/* The following two rules probably need complete rewrite, it is a quick hack. */

.page-chat #channels-list-actives .close:before {
	display : inline-block ;
	vertical-align : middle ;
	content : '×' ; /* OK, this is not a “close” character, but it is quite similar. */
	margin : 0.25em ;
	color : #f00 ;
	font-weight : bold ;
}

.page-chat #channels-list-actives .close:hover:before {
	color : #f33 ;
}

.page-chat #channels-list-actives .current :last-child:before
{
  content: '• '
}

.page-chat #channels-list-actives .new
{
	font-style : italic ;
}

.page-chat .currentChannel
{
	display : flex ;
	height : 100% ;
	width : 100% ;
}

.page-chat .channelCore
{
	position : relative ;
	flex : 1 ;
	display : flex ;
	flex-direction : column ;
}

.page-chat .mrge-content
{
	background-color : white ;
}

.page-chat .mrge-toolbox
{
	background-color : grey ;
}

.page-chat .morrigan-editor .mrge-toolbox .mrge-disabled
{
	background-color : red ;
	color : black ;
}

.morrigan-editor .mrge-toolbox .mrge-action 
{
	background-color : red ;
	color : black ;
}

.morrigan-editor .mrge-toolbox .mrge-action.mrge-active
{
	background-color : green ;
}

.page-chat #channels-inactives
{
	position : relative ;
	background : green ;
	width : 100% ;
	height : 2vmax ;
}

.page-chat #channels-new
{
	display : none ;
	width : 80% ;
	margin-left : 10% ;
	margin-right : 10% ;
	margin-top : 2px ;
}

.page-chat #channels-title
{
	height : 100% ;
	width : 100% ;
	background-color : blue ;
}

.page-chat #channels-list-inactives
{
	display : none ;
}

.page-chat #channels-list-actives
{
	flex : 1 ;
}

.page-chat #channels-inactives:hover
{
	position : relative ;
	background : green ;
	width : 100% ;
	height : 100% ;
}

.page-chat #channels-inactives:hover #channels-new
{
	display : block ;
}

.page-chat #channels-inactives:hover #channels-list-inactives
{
	display : block ;
}

.page-chat #channels-inactives:hover #channels-title
{
	display : none ;
}

.page-chat #channels-inactives:hover + #channels-list-actives
{
	display : none ;
}

/***** Channels creation *****/

#create-channel > *
{
	display : block ;
	box-sizing : border-box ;
	margin : 0 ;
	width : 100% ;
}

#create-channel label
{
	text-align : center ;
}

#create-channel p
{
	margin-top : 0.5em ;
	text-align : center ;
	font-size : smaller ;
	font-weight : bolder ;
}

#create-channel-type-default
{
	font-style : italic ;
}

#create-channel input[type="text"],
#create-channel select
{
	margin-bottom : 0.5em ;
}

#create-channel input[type="button"],
#create-channel select
{
	color : black ;
	border-color : black ;
	background-color : #bbb ;
}

