@charset "utf-8" ;

.page-chat #login
{
	display : none ;
}

.page-chat body 
{
	font-family : Arial, Helvetica, sans-serif ;
	box-sizing : border-box ;
}

.page-chat #container
{
	position : relative ;
	height : 100% ;
	background-color : black ;
}

.page-chat #footer
{
	padding-bottom : 1em ;
	padding-right : 1em ;
	padding-left : 1em ;
}

.page-chat #menu
{
	position : absolute ;
	width : 20% ;
	heigth : 10% ;
	top : 1vmax ;
	right : 1vmax ;
	background-color : black ;
	text-align: : right ;
}

.page-chat #headband
{
	position : relative ;
	height : 20% ;
	width : 100% ;
	background-color : black ;
	background-image : url( "../img/bw-banner.jpg" ) ;
	background-repeat : no-repeat ;
	background-position : left ;
	background-size : auto 100% ;
}

.page-chat #quote
{
	position : relative ;
	height : 100% ;
	width : 50% ;
	float : right ;
	color : white ;
	font-family : vinerHandItc ;
	font-size : 2vmax ;
}

.page-chat .messages
{
	position : relative ;
	
	
	color : white ;
	background-color : black ;
	overflow-y : scroll ;
	border-color : white ;
	border-style : solid ;
	border-syze : 1vmax ;
	
	box-sizing : border-box ;
	flex : 2 ;
	
}

.page-chat .wysiwyg
{
	position : relative ;	
	
	color : white ;
	background-color : black ;
	border-color : white ;
	border-style : solid ;
	border-syze : 1vmax ;
	
	box-sizing : border-box ;
	flex : 1 ;
	
}

.page-chat #notices
{
	position : relative ;
	float : left ;
	width : 15% ;
	height : 100% ;
	color : white ;
	background-color : black ;
	overflow-y : scroll ;
	border-color : white ;
	border-style : solid ;
	border-syze : 1vmax ;
	box-sizing : border-box ;
}
	
.page-chat #channels
{
	position : relative ;
	float : left ;
	width : 10% ;
	height : 100% ;
	color : white ;
	background-color : black ;
	overflow-y : scroll ;
	border-color : white ;
	border-style : solid ;
	border-syze : 1vmax ;
	box-sizing : border-box ;
}

.page-chat .presents
{
	position : relative ;
	width : 10% ;
	height : 100% ;
	color : white ;
	background-color : black ;
	overflow-y : scroll ;
	border-color : white ;
	border-style : solid ;
	border-syze : 1vmax ;
	box-sizing : border-box ;
}

.page-chat #container2
{
	height : 75% ;
	width : 100% ;
	display : flex ;
}

.page-chat #chat
{
	position : relative ;
	display : inline-block ; 
	height : 100% ;
	flex : 1 ;
	display : flex ;
}

.page-chat .currentChannel
{
	display : inline-block ;
	height : 100% ;
	flex : 1 ;
	display : flex ;
}

.page-chat .channelCore
{
	position : relative ;
	flex : 1 ;
	display : flex ;
	flex-direction : column ;
}