@charset "utf-8" ;

@font-face
{
	font-family : "vinerHandItc";
	src : url( "../font/27990.ttf" ) format( "truetype" ) ;
}

#footer
{
	position : absolute ;
	color : white ;
	bottom : 0 ;
	right : 0 ;
}

body
{
	margin : 0 ;
	padding : 0 ;
}
