@charset "utf-8" ;

.page-login #nojs
{
	font-size : 1.2vmax ;
}

.page-login body 
{
	font-family : vinerHandItc ;
	background-color : black ;
	background-image : url( "../img/greek-temple.jpg" ) ;
	background-repeat : no-repeat ;
	background-position : center ;
	background-size : auto 100% ;
	background-attachment : fixed ;
	text-align : center ;
	font-size : 1vmax ;
}

.page-login #container
{
	position : relative ;
	height : 100% ;
}

.page-login .strut,
.page-login #login
{
    /* On permet à ces éléments de s’aligner verticalement */
    display : inline-block ;
    vertical-align : middle ;
}

.page-login .strut 
{
    /* Hauteur de la fenètre, par rapport à laquelle les éléments vont être alignés */
    height : 100% ;
}

.page-login #login
{
	position : relative ;
	background-color : black ;
	color : white ;
	padding : 1vmax ;
	border-radius : 0.25em ;
	heigth : auto ;
}

.page-login #myform
{
	width : auto ;
}

.page-login #footer
{
	margin-bottom : 1vmax ;
	margin-right : 1vmax ;
	text-align : left ;
}

.page-login #menu
{
	position : absolute ;
	top : 0 ;
	right : 0 ;
	text-align : right ;
	width : 50% ;
	margin-top : 1vmax ;
	margin-right : 1vmax ;
}

.page-login #btn
{
	margin-top : 1vmax ;
	height : 2vmax ;
	font-size : 1vmax ;
}

.page-login #commands
{
	position : absolute ;
	top: 0 ;
	right : 0 ;
}

.page-login #loginLabel
{
}

.page-login #pseudo
{
	margin-top : 1vmax ;
	height : 1vmax ;	
	width : 12vmax ;
}

.page-login #hello,
.page-login #disconnect,
.page-login #agora,
.page-login #hello,
.page-login #notices,
.page-login #channels-list,
.page-login #container2,
.page-login #chat,
.page-login #channels,
.page-login #author,
.page-login #quote
{
	display : none ;
}
